
    $color-light: #FFFFFF;
    $color-grey: #D9D9D9;
    $color-dark-grey: #707070;
    $color-dark: #212121;
    $color-light-green:#97CAD114;
    $color-light-grey: #C5C4C4;
    $color-brown:#7C6F50;
    $border-radius: 8px;
    $font-family-base: "Roboto", sans-serif;
    $container-width: 1245px;
    $container-padding: 15px;
    $input-height: 42px;
    $input-border: 1px solid #D9D9D9;
    $color-button-green: #00798A;
    $color-button-red: #E32359;

