@import "_variables.scss";
@import "_normalise.scss";
@import "_fonts.scss";
@import "_mixins.scss";

body {
  font-family: $font-family-base;
  background-color: $color-light;
  color: $color-dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  min-width: 470px;
  max-width: 1920px;
}

.container {
  max-width: $container-width;
  width: 100%;
  margin-inline: auto;
  padding-inline: $container-padding;
}

.header {
  max-width: calc($container-width + 316px + ($container-padding) * 2);
  height: 64px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 60px;
}

.header-logo {
  @include flex-center;
}

.header-menu-left {
  display: flex;
}

.header-menu-search-left {
  height: $input-height;
  min-width: 300px;
  border-radius: $border-radius 0 0 $border-radius;
  border: $input-border;
  text-indent: 40px;
  background: url(../icons/search-gray.svg) no-repeat 16px center;
}

.header-menu-search-right {
  height: $input-height;
  width: 254px;
  border: $input-border;
  text-indent: 20px;
}

.header-menu-search-button {
  height: $input-height + 4px;
  width: $input-height;
  border-radius: 0 $border-radius $border-radius 0;
  background: #f65858;
  border: none;
  @include flex-center;
  cursor: pointer;
}

.header-menu-right {
  height: $input-height;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 43%;
}

.header-menu-link {
  @include flex-center;
  @include font14;
  width: 83px;
  height: 36px;
  color: $color-dark;
  gap: 5px;
  &:hover {
    background-color: $color-button-green;
    border-radius: $border-radius;
    color: $color-light;
  }
}

.container-join-meetup {
  height: 461px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 6%;
}

.footer-container {
  margin-top: 100px;
  max-width: calc($container-width + 316px + ($container-padding) * 2);
  background-color: $color-dark;
  height: 559px;
  a {
    @include font14;
    color: $color-light-grey;
  }

  h3 {
    @include font16;
    color: $color-light;
  }

  p {
    @include font16;
    color: $color-light;
  }
}

.footer-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  height: 10%;
  padding-block: 40px;
}

.get-started {
  border: 2px solid $color-light;
  border-radius: 6px;
  padding-inline: 14px;
  padding-block: 6px;
}

.footer-content {
  border-top: 1px solid $color-dark-grey;
  display: flex;
  justify-content: flex-start;
  height: 57%;
  gap: 26%;
  div {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 32px;
  }
}

.footer-logo-img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.footer-logo-img-big {
  width: 135px;
  height: 40px;
  cursor: pointer;
}

.footer-logo {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  gap: 55%;
  height: 10%;
  div {
    display: flex;
    gap: 32px;
  }
}

.footer-end {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4%;
  height: 10%;
}

.root-container {
  margin-top: 80px;
  display: flex;
}

.root-container-select {
  display: flex;
  gap: 18px;
}

.custom-select {
  width: 190px;
  height: 46px;
  @include font14;
  font-weight: bold;
  border-radius: 40px;
  border: 15px solid #f6f7f8;
  background-color: #f6f7f8;
  cursor: pointer;
  text-align: center;
}

.root-container-left {
  min-width: 450px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  h2 {
    @include font28;
  }
  a {
    @include font20;
    color: $color-button-green;
    cursor: pointer;
    text-decoration: underline;
  }
}

.card {
  margin-top: 15px;
  border-top: 1px solid $color-light-grey;
  max-width: 604px;
  width: 100%;
  padding-top: 16px;
  display: flex;
  gap: 12px;
  img {
    width: 170px;
    height: 110px;
    border-radius: $border-radius;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-text-date {
  @include font14;
  color: $color-brown;
}
.card-text-title {
  @include font16;
  font-weight: bold;
}
.card-text-distance {
  @include font14;
  color: $color-dark-grey;
}

.card-text-atendees {
  margin-top: 50px;
  @include font14;
  color: $color-dark-grey;
}

.root-container-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#type {
  max-width: 118px;
  width: 100%;
}

#distance {
  max-width: 145px;
  width: 100%;
}

#category {
  max-width: 145px;
  width: 100%;
}

@media screen and (max-width: 1030px) {
  .header-menu-search-right {
    display: none;
  }

  .footer-logo-img-big {
    display: none;
  }

  .map {
    max-width: 250px;
    max-height: 250px;
  }
}

@media screen and (max-width: 760px) {
  .header-menu-left {
    position: absolute;
    top: 7%;
    left: 3%;
  }

  .header-menu-right {
    width: 80%;
  }

  .header-menu-right {
    a {
      @include font12;
    }
  }

  .margin-header {
    margin-top: 60px;
  }

  .root-container-right {
    display: none;
  }

  .root-container-left {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .footer-end {
    a {
      display: none;
    }
  }
  .card {
    img {
      width: 100px;
      height: 60px;
    }
  }
  .card-text-date {
    @include font10;
    color: $color-brown;
  }
  .card-text-title {
    @include font12;
    font-weight: bold;
  }
  .card-text-distance {
    @include font10;
    color: $color-dark-grey;
  }
  
  .card-text-atendees {
    margin-top: 30px;
    @include font8;
    color: $color-dark-grey;
  }

  .footer-container {
    margin-top: 50px;
  }

}

@media screen and (max-width: 470px) {
  .container{
    padding-left: 25px;
  }

  .footer-content{
    gap: 10%;
  }

  .footer-container{
    padding-left: 0px;
  }

}
